.MuiToolbar-root {
    display: flex;
    justify-content: flex-end;
}
.thumbs-wrapper {
    display: none;
}

.pic {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    
}

/* .MuiList-root{
    background-color: teal;
}

.MuiPaper-root {
    background-color: teal !important;
} */
.obs {
    width: 100vw;
    height: 100vh;
}

